<body>
  <mat-toolbar color="primary">
    <h1><span class="light">MAN I LOVE </span>FISHING</h1>
    <span class="spacer"></span>
    <a mat-button
    [routerLink]="['home']"
    routerLinkActive="active">HOME</a>
    <a mat-button
    [routerLink]="['TDF']"
    routerLinkActive="active">TDF</a>
    <a mat-button
    [routerLink]="['DTF']"
    routerLinkActive="active">DTF</a>
    <a mat-button
    [routerLink]="['MBT']"
    routerLinkActive="active">MBT</a>
    <a mat-button
    [routerLink]="['LBIYA']"
    routerLinkActive="active">LBIYA</a>
    <a mat-button
    [routerLink]="['Bait Buddy']"
    routerLinkActive="active">Bait Buddy</a>
    <a mat-button
    [routerLink]="['Fish Hub']"
    routerLinkActive="active">Fish Hub</a>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
  