.store-item-container{
    background-color:white;
    border-style:solid;
    border-color:coral;
    border-radius:20px;
    margin-left:10px;
    margin-right:10px;
}

.store-item-box{
    background-color: lightgrey;
    margin:10px;
    width: 250px;
    height: 400px;
}

.store-item-image{
    text-align:center;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    width:90%;
    height:65%;
}

.store-item-text{
    text-align:center;
    font-weight:bold;
}

.store-item-button{
    position:relative;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:10px;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:coral;
    width:60px;
    height:30px;
    border:none;
}

.store-item-button:hover{
    background-color:lightcoral;
}
