.store-item-container{
    background-color:white;
    border-style:solid;
    border-color:coral;
    border-radius:20px;
    margin-left:10px;
    margin-right:10px;
}

.store-item-box {
  background-color: lightgrey;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  height: 400px;
}
