.store-item-image {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 90%;
  height: 65%;
}

.store-item-text {
  text-align: center;
  font-weight: bold;
}

.store-item-button {
  position: relative;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: coral;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.store-item-button:active {
  background-color: lightcoral;
}
