<div class="background-image">
  <img src="assets/Homepage.jpg" alt="Landing Page Banner" />
  <div class="dashboard">

    <div class="brick social">
      <h2>Friends </h2>
      <p>Matt has sent a message:</p>
      <p>Hello Andrew, will you be providing our tackle tonight? I sure hope so as the gas station has just run out of our favorite night crawlers</p>
    </div>

    <div class="brick news">
      <!-- News content goes here -->
      <h2>Number 1 News! </h2>
      <p>Record-Breaking Catch at Annual Fishing Tournament.</p>
      <p>Check out the latest article written by Brandon Thompson</p>
    </div>

    <div class="brick tutorials">
      <h2>Tutorials </h2>
      <p>Wanna learn how to catch so big game?</p>
      <p>New tutorials from Matthew McGowan</p>
    </div>
  </div>
</div>

