<div class="main-container">
    <div class="list-wrapper">
      <h3 class="text-center font-weight-bold">Friends</h3>
      <p-scroller [items]="friends" [itemSize]="50" scrollHeight="800px">
        <ng-template pTemplate="item" let-item>
          <div class="friend-item">
            {{ item.name }}
          </div>
        </ng-template>
      </p-scroller>
    </div>
  
    <div class="messages">
        <h3 class="text-center font-weight-bold">Messages</h3>
        
      </div>
    </div>