.list-wrapper {
    padding: 0.5rem;
    background-color: gray;
    border-radius: 5px;
}

.friends-list-item {
    background-color: rgb(187, 187, 187);
    border-color: gray;
    border: gray;
    border-width: 1rem;
    padding: 1rem;
}